# Proxmox API host URL
pm_api_url: https://<api_host>:8006/api2/json
## Proxmox user (e.g. root@pam)
pm_user: root@pam
## Proxmox password
pm_password: 
## Cloud-init user default password
user_password: 
## ssh authorized keys
ssh_authorized_keys: |

# AWS Credentials
## AWS Region
region:
## AWS user key
access_key:
## AWS user secret
secret_key: